/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  background: url(../img/ser_img/bckgrnd.jpg) hsl(60, 100%, 17%) 50% 0 no-repeat;
  background-attachment: fixed;    
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: hsl(60, 100%, 17%);
}

fieldset {
	width: 450px;
	text-align: center;
	border-radius: 0.5em;
}

a {
    color: hsl(60, 100%, 17%);
}

a:focus, a:hover {
    color: hsl(60, 100%, 27%);
}

.nav-tabs li a {
    color: white;
}

.nav-tabs li a:hover {
    color: #555;
}

.top {
    margin: 20px auto;
    background-color: hsla(60, 100%, 17%, 0.85);
	border-radius: 0.5em;
    color: white;
    width: 75%;
	min-width: 720px;
    text-align: center;
	overflow: auto;
}

#top1 {
	float: right;
	width: 100%;
	margin: 1em;
}

#top2 {
	background-color: white;
	margin: 1em 1em 0;
	padding: 5px;
	border-radius: 0.5em;
	float: right;
}

#top3 {
/*	background-color: brown;*/
	margin: 1em;
/*	padding: 5px;*/
	border-radius: 0.5em;
	float: right;
	width: 90%;
}

.topP3 {
	background-color: wheat;
	border-radius: 0.5em;
	border-style: none;
	margin: 0.25em 0.1em 0.25em 1em;
	padding: 0.5em;
	width: 7%;
	float: right;
	color: brown;
	font-weight: bolder;
}

.topP4 {
	background-color: wheat;
	border-radius: 0.5em;
	border-style: none;
	margin: 0.25em 0.1em 0.25em 1em;
	padding: 0.5em;
	width: 25%;
	float: left;
	color: brown;
	font-weight: bolder;
	text-align: center;
}

.topP4:hover {
	color: hsl(60, 100%, 17%);
	background-color: white;
	cursor: pointer;
}

.topP4prev {
	background-color: wheat;
	border-radius: 0.5em;
	border-style: none;
	margin: 0.25em 0.1em 0.25em 1em;
	padding: 0.5em;
	width: 25%;
	color: brown;
	font-weight: bolder;
	text-align: center;
	float: left;
}

.topP4prev:hover {
	color: hsl(60, 100%, 17%);
	background-color: white;
	cursor: pointer;
}
.topP4next {
	background-color: wheat;
	border-radius: 0.5em;
	border-style: none;
	margin: 0.25em 0.1em 0.25em 1em;
	padding: 0.5em;
	width: 25%;
	color: brown;
	font-weight: bolder;
	text-align: center;
	float: right;
}

.topP4next:hover {
	color: hsl(60, 100%, 17%);
	background-color: white;
	cursor: pointer;
}

.topP5 {
	background-color: hsla(0, 0%, 100%, 0.05);
	border-radius: 0.5em;
	border-style: none;
	margin: 0.25em 0.1em 0.25em 1em;
	padding: 0.5em;
	width: 25%;
	float: left;
	color: wheat;
	font-weight: bolder;
	text-align: center;
}

.topP5:hover {
	color: hsl(60, 100%, 17%);
	background-color: hsla(0, 0%, 100%, 0.55);
	cursor: pointer;
}


.topP5none {
	background-color: hsla(0, 0%, 100%, 0);
	border-style: none;
	width: 25%;
	float: left;
	color: wheat;
	text-align: left;
	cursor: none;
}

.topP6 {
	background-color: hsla(0, 0%, 100%, 0.05);
	border-radius: 0.5em;
	border-style: none;
	margin: 0.25em 0.1em 0.25em 1em;
	padding: 0.5em;
	width: 25%;
	float: right;
	color: wheat;
	font-weight: bolder;
	text-align: center;
}

.topP6:hover {
	color: hsl(60, 100%, 17%);
	background-color: hsla(0, 0%, 100%, 0.55);
	cursor: pointer;
}

.topP7 {
	background-color: hsla(0, 0%, 100%, 0.05);
	border-radius: 0.5em;
	border-style: none;
	margin: 0.25em 0.1em 0.25em 1em;
	padding: 0.5em;
	width: 25%;
	float: left;
	color: brown;
	font-weight: bolder;
	text-align: center;
}

.topP7:hover {
	color: white;
	background-color: hsla(0, 0%, 100%, 0.55);
	cursor: pointer;
}

.topP3Input {
	background-color: hsla(39, 77%, 83%, 0.85);
	border-radius: 0.5em;
	border-style: none;
	margin: 0.5em 0 0.5em 1.5em;
	padding: 0.5em;
	width: 10%;
	float: right;
	color: brown;
	font-weight: bold;
	cursor: pointer;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.topP3Input:hover {
	background-color: hsl(39, 77%, 90%);
}

.topP4Input {
	background-color: hsla(39, 77%, 83%, 0.85);
	border-radius: 0.5em;
	border-style: none;
	margin: 0.5em 0.1em 0.5em 0;
	padding: 0.5em;
	width: auto;
/*	float: right; */
	color: brown;
	font-weight: bold;
	cursor: pointer;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.topP4Input:hover {
	background-color: hsl(39, 77%, 90%);
}


.topP3Submit {
	background-color: hsla(60, 100%, 17%, 0.85);
	border-radius: 0.5em;
	border-style: none;
	margin: 0.5em 0.1em 0.5em 0.1em;
	padding: 0.5em;
	width: 7%;
	float: right;
	color: wheat;
	font-weight: bold;
	cursor: pointer;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.topP3Submit:hover {
	background-color: hsla(60, 100%, 27%, 0.75);
}

.topArrows {
	color: wheat;
	padding: 0.2em 0.1em 0;
	float: right;
}

.topArrows:hover {
	color: brown;
	cursor: pointer;
}

#topH1 {
	color: white;
	float: left;
	margin: 0 0.5em;
	padding: 0;
	font-size: 4em;
	cursor: default;
}

#sortBy {
	float: right;
	font-weight: bold;
	color: wheat;
}

#cat_ar_var {
	display: none;
}

#search {
	float: right;
	background-color: wheat;
	margin: 1em 0 0;
	padding-left: 0.5em;
	width: 20em;
	border-radius: 0.5em;
	border-style: none;
	color: hsla(60, 100%, 17%, 0.85);
}

#search:focus {
	background-color: hsl(39, 77%, 90%);
}

.topArrowSearch {
	color: white;
	padding: 0.25em 0.5em 0;
	float: right;
}

.topArrowSearch:hover {
	color: brown;
	cursor: pointer;
}

.butPag {
	background-color: hsl(60, 100%, 17%);
	border-radius: 0.5em;
	margin: 0.25em 0.1em 0.25em 1em;
	padding: 0.1em 0.5em;
	width: 15%;
	float: left;
	color: wheat;
	font-size: 2em;
	font-weight: bolder;
	text-align: center;
	line-height: 1.25em;
}

.butPag:hover {
	background-color: hsl(60, 100%, 27%);
}

#botArrows1 {
	color: wheat;
	padding: 0;
	float: left;
	line-height: 1.5em;
}

#botArrows2 {
	color: wheat;
	padding: 0;
	float: right;
	line-height: 1.5em;
}


.blog-post {
  width: 50%;
  min-width: 530px;
  margin: 0 auto 20px;
  padding: 0.5em;
  border: 1px solid #e5e5e5;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.85);
  overflow: auto;
}

.blog-post-bot {
  width: 50%;
  margin: 0 auto 20px;
  padding: 0.5em;
  overflow: auto;
}

.blog-post-title {
  margin: 10px 0 5px;
}

.blog-post-year {
  margin: 10px 0 5px;
  color: brown;
}

.blog-post-cat {
  margin: 10px 0 5px;
  color: #333;
}

.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

/*
 * Blog comment
 */

.blog-post-comment {
  margin-bottom: 10px;
  padding: 0.3em;
  border-radius: 0.5em;
  border: 1px solid #e5e5e5;
  background-color: rgba(180, 180, 180, 0.6);
  color: #428BCA;
}
.blog-post-title-comment {
  margin-bottom: 2px;
  font-size: 20px;
  border-radius: 0.5em;
  font-weight: 700;
}
.blog-post-meta-comment {
  margin-bottom: 14px;
  color: #242424;
  background-color: rgb(255, 255, 255);
  margin: 0 10px;
  padding-left: 20px;
}

.comment-span {
	color: white;
	font-size: 0.75em;
}


/*
 * Footer
 */

.blog-footer {
  padding: 10px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.img-main {
	width: 100%;
	margin: 10px 30px 10px 10px;
	border-radius: 0.5em;
	box-shadow: 3px 3px 3px gray;
}

.img-main30 {
	float: left;
	max-width: 150px;
	max-height: 300px;
	margin: 10px 30px 10px 10px;
	border-radius: 0.5em;
	box-shadow: 3px 3px 3px gray;
	-webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none; /* IE 6-9 */
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.img-main30:hover {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

.img-one {
	width: 100%;
	border-radius: 0.5em;
	box-shadow: 3px 3px 3px gray;
}

#arrowToTop {
	position: fixed;
	top: 90%;
	right: 10%;
}

#inputComments {
	width: 330px;
}
/*
#formToAdd {
	display: none;
}
*/